<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607040831514-o36kdqak4ahhe2uhu4kc9oou8e2t31kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607040831514-o36kdqak4ahhe2uhu4kc9oou8e2t31kc</string>
	<key>API_KEY</key>
	<string>AIzaSyDthdc5E28-TUvcX8NPUlCq5LSJ6Mbmehs</string>
	<key>GCM_SENDER_ID</key>
	<string>607040831514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparkosol.nbq</string>
	<key>PROJECT_ID</key>
	<string>nbq-f297b</string>
	<key>STORAGE_BUCKET</key>
	<string>nbq-f297b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607040831514:ios:52e809042657e2bc4851a3</string>
	<key>DATABASE_URL</key>
	<string>https://nbq-f297b-default-rtdb.firebaseio.com</string>
</dict>
</plist>